@font-face {
    font-family: 'Grtsk Peta';
    src: local('Grtsk Peta Medium'), local('Grtsk-Peta-Medium'),
        url('GrtskPeta-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }