{% extends 'base.html' %}
{% load static %}


{% block header %}
    <title>Калькулятор вальцовки</title>
    <link rel="stylesheet" href="{% static 'css/style_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_thermal.css' %}">
{% endblock %}

{% block content %}
    <section class="wrapper flex-grow-1">
        <div class="parent">
            <div class="div1 card shadow-sm">
                <h3>{{ _("Исходные данные") }}</h3>
                <form action="" method="post" autocomplete="off" id="submit-form">
                    {% csrf_token %}
                    {{ html_forms.material_selector_form }}
                    <details style="padding-top: 6px">
                        <summary>{{ _('Химический состав') }}</summary>
                        <div class="material-chemistry">
                            <table class="table table-sm table-elements">
                                <tr>
                                    <th>C</th>
                                    <th>Mn</th>
                                    <th>Si</th>
                                    <th>Cr</th>
                                    <th>Ni</th>
                                </tr>
                                <tr>
                                    <td id="element-C">0</td>
                                    <td id="element-Mn">0</td>
                                    <td id="element-Si">0</td>
                                    <td id="element-Cr">0</td>
                                    <td id="element-Ni">0</td>

                                </tr>
                                <tr>
                                    <th>Cu</th>
                                    <th>Al</th>
                                    <th>N</th>
                                    <th>S</th>
                                    <th>P</th>
                                </tr>
                                <tr>
                                    <td id="element-Cu">0</td>
                                    <td id="element-Al">0</td>
                                    <td id="element-N">0</td>
                                    <td id="element-S">0</td>
                                    <td id="element-P">0</td>
                                </tr>
                                <tr>
                                    <th>Ti</th>
                                    <th>Nb</th>
                                    <th>Mo</th>
                                    <th>V</th>
                                    <th>W</th>
                                </tr>
                                <tr>
                                    <td id="element-Ti">0</td>
                                    <td id="element-Nb">0</td>
                                    <td id="element-Mo">0</td>
                                    <td id="element-V">0</td>
                                    <td id="element-W">0</td>
                                </tr>
                            </table>
                        </div>
                    </details>
                    {% for input in html_forms.base_form %}
                        <div class="form-{{ input.name }}">
                            {{ input.label_tag }}
                            {{ input.name.errors }}
                            {{ input }}
                        </div>
                    {% endfor %}
                    <div class="form--zones_table input-group input-group-sm mb-3">
                        <table id="table-zones-time" class="table-zones">
                            <thead>
                            <tr>
                                <th class="td-zone">№</th>
                                <th class="td-zone">{{ html_forms.base_zones_form.zone_time.label }}</th>
                                <th class="td-zone">{{ html_forms.base_zones_form.zone_temp_air.label }}</th>
                                <th class="td-zone">{{ html_forms.base_zones_form.zone_temp_bottom.label }}</th>
                            </tr>
                            </thead>
                            <tr class="td-zone_1">
                                <td id="zone-time">1</td>
                                <td>
                                    {{ html_forms.base_zones_form.zone_time }}
                                </td>
                                <td>
                                    {{ html_forms.base_zones_form.zone_temp_air }}
                                </td>
                                <td>
                                    {{ html_forms.base_zones_form.zone_temp_bottom }}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="form--zones_table input-group input-group-sm mb-3">
                        <table id="table-zones-coef" class="table-zones">
                            <thead>
                            <tr>
                                <th class="td-zone">№</th>
                                <th class="td-zone">{{ html_forms.base_zones_form.zone_thermal_coef.label }}</th>
                                <th class="td-zone">{{ html_forms.base_zones_form.zone_thermal_coef_bottom.label }}</th>
                            </tr>
                            </thead>
                            <tr class="td-zone_1">
                                <td id="zone-coef">1</td>
                                <td>
                                    {{ html_forms.base_zones_form.zone_thermal_coef }}
                                </td>
                                <td>
                                    {{ html_forms.base_zones_form.zone_thermal_coef_bottom }}
                                </td>
                            </tr>
                        </table>
                    </div>

                    <details>
                        <summary>{{ _('Продвинутые настройки') }}</summary>
                        {{ html_forms.advanced_form }}
                    </details>
                    <button class="btn btn-calc btn-primary" type="submit" value="calc" name="calc"
                            id="submit">{{ _("Расчет") }}
                    </button>
                </form>
            </div>
            <div class="div-results card shadow-sm">
                {% if plot %}
                    <div class="div2">
                    <h3>{{ _("Результаты расчета") }}</h3>
                    <div class="chart" id="plotty">
                        <script>
                            var graphs = {{plot | safe}};
                            graphs.config = {
                                displayModeBar: true,
                                displaylogo: false,
                                modeBarButtonsToRemove: ['toImage', 'pan2d', 'zoom2d', 'select2d',
                                    'lasso2d', 'zoomIn2d', 'zoomOut2d', 'autoScale2d'],
                                showLink: true,
                                plotlyServerURL: "https://chart-studio.plotly.com",
                                linkText: '{{ _('Edit Online') }}',
                                modeBarButtonsToAdd: ['drawline']
                            }
                            Plotly.plot('plotty', graphs, {});
                        </script>
                    </div>
                {% endif %}

                </div>
                <div class="div3">
                    {% if table %}
                        <h1 align="center" id="table-result">{{ _("Таблица для экспорта") }}</h1>
                        {{ table }}
                        <div>
                            <a download="results.xlsx" class="btn btn-outline-success"
                               onclick="return ExcellentExport.convert({ anchor: this, filename: 'results', format: 'xlsx'},
                       [{name: 'Results', from: {table: 'resultData'}}]);">Export to xlsx</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {#    <script type="text/javascript" src="{{ url_for('static', filename='chemistry.js') }}"></script>#}

    </section>
    <script src="{% static 'js/thermal_zones.js' %}"></script>
{% endblock %}