{% extends 'base.html' %}
{% load static %}
{% load custom_filter %}


{% block header %}
    <title>Калькулятор вальцовки</title>
    <link rel="stylesheet" href="{% static 'css/style_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_thermal.css' %}">
{% endblock %}

{% block content %}
    <section class="wrapper flex-grow-1">
        <div class="parent">
            <div class="div1 card shadow-sm">
                <h3>{{ _("Исходные данные") }}</h3>
                <form action="{% url 'thermal' %}" method="post" autocomplete="off" id="submit-form">
                    {% csrf_token %}
                    {{ zones_formset.management_form }}
                    {{ html_forms.material_select.label }}
                    {{ html_forms.material_select }}
                    <details style="padding-top: 6px">
                        <summary>{{ _('Химический состав') }}</summary>
                        <div class="material-chemistry">
                            <table class="table table-sm table-elements">
                                <tr>
                                    <th>C</th>
                                    <th>Mn</th>
                                    <th>Si</th>
                                    <th>Cr</th>
                                    <th>Ni</th>
                                </tr>
                                <tr>
                                    <td id="element-C">0</td>
                                    <td id="element-Mn">0</td>
                                    <td id="element-Si">0</td>
                                    <td id="element-Cr">0</td>
                                    <td id="element-Ni">0</td>

                                </tr>
                                <tr>
                                    <th>Cu</th>
                                    <th>Al</th>
                                    <th>N</th>
                                    <th>S</th>
                                    <th>P</th>
                                </tr>
                                <tr>
                                    <td id="element-Cu">0</td>
                                    <td id="element-Al">0</td>
                                    <td id="element-N">0</td>
                                    <td id="element-S">0</td>
                                    <td id="element-P">0</td>
                                </tr>
                                <tr>
                                    <th>Ti</th>
                                    <th>Nb</th>
                                    <th>Mo</th>
                                    <th>V</th>
                                    <th>W</th>
                                </tr>
                                <tr>
                                    <td id="element-Ti">0</td>
                                    <td id="element-Nb">0</td>
                                    <td id="element-Mo">0</td>
                                    <td id="element-V">0</td>
                                    <td id="element-W">0</td>
                                </tr>
                            </table>
                        </div>
                    </details>
                    <div>
                        {{ html_forms.geometry.label_tag }}
                        {{ html_forms.geometry.name.errors }}
                        {{ html_forms.geometry }}
                    </div>
                    <div class="form-thickness">
                        {{ html_forms.thickness.label_tag }}
                        {{ html_forms.thickness.name.errors }}
                        {{ html_forms.thickness }}
                    </div>
                    <div>
                        {{ html_forms.temp_initial.label_tag }}
                        {{ html_forms.temp_initial.name.errors }}
                        {{ html_forms.temp_initial }}
                    </div>
                    <div>
                        {{ html_forms.number_of_zones.label_tag }}
                        {{ html_forms.number_of_zones.name.errors }}
                        {{ html_forms.number_of_zones }}
                    </div>
                    <div class="form--zones_table input-group input-group-sm mb-3">
                        <table id="table-zones-time" class="table-zones">
                            {% for zone in zones_formset %}
                                {% if forloop.first %}
                                    <thead>
                                    <tr>
                                        <th class="td-zone">№ Зоны</th>
                                        <th class="td-zone">{{ zone.zone_time.label }}</th>
                                        <th class="td-zone">{{ zone.zone_temp_air.label }}</th>
                                        <th class="td-zone" {% if geometry_forms != 1 %}
                                            style="display: none" {% endif %}>{{ zone.zone_temp_bottom.label }}</th>
                                    </tr>
                                    </thead>
                                {% endif %}
                            {% endfor %}
                            <tbody>
                            {% for zone in zones_formset %}
                                <tr class="td-zone_{{ forloop.counter }}"
                                        {% if forloop.counter > html_forms.number_of_zones.value %}
                                    style="display: none" {% endif %}>

                                    <td id="zone-time">{{ forloop.counter }}</td>
                                    <td>
                                        {{ zone.zone_time }}
                                    </td>
                                    <td>
                                        {{ zone.zone_temp_air }}
                                    </td>
                                    <td {% if geometry_forms != 1 %} style="display: none" {% endif %}>
                                        {{ zone.zone_temp_bottom }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="form--zones_table input-group input-group-sm mb-3">
                        <table id="table-zones-coef" class="table-zones">
                            {% for zone in zones_formset %}
                                {% if forloop.first %}

                                    <thead>
                                    <tr>
                                        <th class="td-zone">№ Зоны</th>
                                        <th class="td-zone">{{ zone.zone_thermal_coef.label }}</th>
                                        <th class="td-zone" {% if geometry_forms != 1 %}
                                            style="display: none" {% endif %}>{{ zone.zone_thermal_coef_bottom.label }}</th>
                                    </tr>
                                    </thead>
                                {% endif %}
                            {% endfor %}
                            <tbody>
                            {% for zone in zones_formset %}
                                <tr class="td-zone_{{ forloop.counter }}"
                                        {% if forloop.counter > html_forms.number_of_zones.value %}
                                    style="display: none" {% endif %}>
                                    <td id="zone-coef">{{ forloop.counter }}</td>
                                    <td>
                                        {{ zone.zone_thermal_coef }}
                                    </td>
                                    <td {% if geometry_forms != 1 %} style="display: none" {% endif %}>
                                        {{ zone.zone_thermal_coef_bottom }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <details>
                        <summary>{{ _('Продвинутые настройки') }}</summary>
                        <div>
                            {{ html_forms.thickness_layers.label_tag }}
                            {{ html_forms.thickness_layers.name.errors }}
                            {{ html_forms.thickness_layers }}
                        </div>
                        <div>
                            {{ html_forms.time_step.label_tag }}
                            {{ html_forms.time_step.name.errors }}
                            {{ html_forms.time_step }}
                        </div>
                    </details>
                    <button class="btn btn-calc btn-primary" type="submit" value="calc" name="calc"
                            id="submit">{{ _("Расчет") }}
                    </button>
                </form>
            </div>
            <div class="div-results card shadow-sm">
                {% if result_object %}
                    <div style="display: none;" id="id-results">
                    {{ result_object.id }}
                    </div>
                {% endif %}
                {% if plot %}
                    <div class="div2">
                    <h3>{{ _("Результаты расчета") }}</h3>
                    <div class="chart" id="plotty">
                        <script>
                            let graphs = {{plot | safe}};
                            graphs.config = {
                                displayModeBar: true,
                                displaylogo: false,
                                modeBarButtonsToRemove: ['toImage', 'pan2d', 'zoom2d', 'select2d',
                                    'lasso2d', 'zoomIn2d', 'zoomOut2d', 'autoScale2d'],
                                showLink: true,
                                plotlyServerURL: "https://chart-studio.plotly.com",
                                linkText: '{{ _('Edit Online') }}',
                            }
                            Plotly.plot('plotty', graphs, {});
                        </script>
                    </div>
                    <div class="chart" id="plotty_2">
                        <script>
                            let graphs_2 = {{plot_2 | safe}};
                            graphs_2.config = {
                                displayModeBar: true,
                                displaylogo: false,
                                modeBarButtonsToRemove: ['toImage', 'pan2d', 'zoom2d', 'select2d',
                                    'lasso2d', 'zoomIn2d', 'zoomOut2d', 'autoScale2d'],
                                showLink: true,
                                plotlyServerURL: "https://chart-studio.plotly.com",
                                linkText: '{{ _('Edit Online') }}',
                            }
                            Plotly.plot('plotty_2', graphs_2, {});
                        </script>
                    </div>
                {% endif %}

                </div>
                <div class="div3">
                    {% if table_data %}
                        <h3 id="table-result">{{ _("Таблица для экспорта") }}</h3>
                        <table class="table table-sm" id="resultData">
                            <thead>
                            <th>{{ thickness_text }}</th>
                            {% for column in number_of_zones %}
                                <th>Зона {{ column }}, °C</th>
                            {% endfor %}</thead>
                            <tbody>
                            {% for row in table_data %}
                                <tr>
                                    {% for value in row %}
                                        <td>{{ value }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div>
                            <a download="results.xlsx" class="btn btn-outline-success"
                               onclick="return ExcellentExport.convert({ anchor: this, filename: 'results', format: 'xlsx'},
                       [{name: 'Results', from: {table: 'resultData'}}]);">Export to xlsx</a>
                        </div>
                    {% endif %}
                    {% if table_data %}
                        <table class="table table-sm" id="resultData_temp_change">
                            <thead>
                            <th>Время, сек</th>
                            <th>Температура, °C</th>
                            <th>Скорость изменения температуры, °C / сек</th>
                            </thead>
                            <tbody>
                            {% for current_result in calculated_results %}
                                {% for current_value_list in current_result %}
                                    <tr>
                                        {% for current_value in current_value_list %}
                                            {% if forloop.last %}
                                                <td>{{ current_value|floatformat:2 }}</td>
                                            {% else %}
                                                <td>{{ current_value|floatformat:2 }}</td>
                                            {% endif %}
                                        {% endfor %}

                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                        <div>
                            <a download="results_temp_change.xlsx" class="btn btn-outline-success"
                               onclick="return ExcellentExport.convert({ anchor: this, filename: 'results_temp_change', format: 'xlsx'},
                       [{name: 'Results_temp_change', from: {table: 'resultData_temp_change'}}]);">Export to xlsx</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {#    <script type="text/javascript" src="{{ url_for('static', filename='chemistry.js') }}"></script>#}

    </section>
    <script type="text/javascript" src="{% static 'js/thermal_zones.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/excellentexport.js' %}"></script>
{% endblock %}