{% extends 'base.html' %}
{% load static %}


{% block header %}
    <title>Калькулятор вальцовки</title>
    <link rel="stylesheet" href="{% static 'css/style_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_wearresistance.css' %}">
{% endblock %}

{% block content %}
    <section class="wrapper flex-grow-1">
        <div class="parent" id="content">
            <div class="card shadow-sm p-4">
                <h3 class="mx-auto">Калькулятор износа</h3>
                <div class="d-flex flex-lg-row">
                    <div class="card-description">
                        <p>
                            Калькулятор позволяет определить изменение срока службы изделия и затрат на материал
                            футеровки/покрытия в зависимости от используемой марки стали, перемещаемой сыпучей среды и
                            толщины.
                            Введите данные по известному Вам кейсу эксплуатации и целевые значения, нажмите кнопку
                            "Расчет"
                        </p>
                        <p>
                            В расчете используются результаты лабораторных испытаний различных марок стали и сыпучих
                            сред.
                            Пожалуйста, обратитесь к нам по адресу
                            <a href="mailto:engineering@severstal.com">engineering@severstal.com</a>
                            если Вы заинтересованы в проведении лабораторных исследований футеровок, перерабатываемых
                            пород
                            и
                            получении эффективного решения из проката Северсталь.
                        </p>
                    </div>
                    <div style="max-width: 480px">
                        <p>Дополнительные материалы:</p>
                        <ul>
                            <li>
                                <a href="https://vmeste.severstal.com/industries/mechanical-engineering/kak-otsenit-iznosostoykost-stali/">Описание
                                    методики лабораторных испытаний</a></li>
                            <li>
                                <a href="https://vmeste.severstal.com/engineering-portal/publications/kuzov-cariernogo-samosvala/">Пример
                                    эффективного применения износостойкого проката Северсталь</a></li>
                            <li><a href="https://severstal.com/upload/iblock/70b/Vysokoprochnye-stali_06.06.22.pdf">Подробная
                                информация
                                по высокопрочному прокату Северсталь (буклет
                                PDF)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="forms mb-2">

                <div class="card shadow-sm form mx-4 mt-4">
                    <form action="{% url 'wear-resistance' %}" method="post" autocomplete="off" id="submit-form">
                        {% csrf_token %}
                        <div class="angry-grid mt-2 px-4">
                            <div id="item-0">&nbsp;</div>
                            <div id="item-1">Известный кейс эксплуатации</div>
                            <div id="item-2">Исследуемый кейс эксплуатации</div>
                            <div id="item-3">{{ html_forms.steel_grades_select.label }}</div>
                            <div id="item-4">{{ html_forms.steel_grades_select }}</div>
                            <div id="item-5">{{ html_forms.steel_grades_select_2 }}</div>
                            <div id="item-6">{{ html_forms.thickness.label_tag }}</div>
                            <div id="item-7">{{ html_forms.thickness }}</div>
                            <div id="item-8">{{ html_forms.thickness_2 }}</div>
                            <div id="item-9">{{ html_forms.abrasiveness.label_tag }}</div>
                            <div id="item-10">{{ html_forms.abrasiveness }}</div>
                            <div id="item-11">{{ html_forms.abrasiveness_2 }}</div>
                            <div id="item-12">{{ html_forms.price.label_tag }}</div>
                            <div id="item-13">{{ html_forms.price }}</div>
                            <div id="item-14">{{ html_forms.price_2 }}</div>
                        </div>
                        {% if error_variable %}
                            <div class="alert alert-danger" style="text-align: center;">
                                <p>{{ error_variable }}</p>
                            </div>
                        {% endif %}
                        <button class="btn btn-calc btn-vmeste-color mx-auto" type="submit" value="calc" name="calc"
                                id="submit">{{ _("Расчет") }}
                        </button>
                    </form>
                    <div class="text-muted">
                        <ul>*Справочные значения абразивности:
                            <li>Вскрышная порода угольного месторождения: 0,01</li>
                            <li>Железная руда: 0,1</li>
                            <li>Вскрышная порода золотоносного месторождения: 0,3</li>
                        </ul>
                    </div>

                </div>
                {% if wear_results %}
                    <div class="card shadow-sm results px-4 pb-4 mt-4">
                        <h3>{{ _("Результаты расчета") }}</h3>
                        <p>Срок службы:
                            {% if wear_results.lifespan_color == "green" %}
                                <span class="text-success"> Увеличение на {{ wear_results.lifespan_new }}%</span>
                            {% else %}
                                <span class="text-danger"> Снижение на {{ wear_results.lifespan_new }}%</span>
                            {% endif %}
                        </p>
                        <p>Масса:
                            {% if wear_results.weight_color == "green" %}
                                <span class="text-success"> Увеличение на {{ wear_results.weight_new }}%</span>
                            {% else %}
                                <span class="text-danger"> Снижение на {{ wear_results.weight_new }}%</span>
                            {% endif %}
                        </p>
                        {% if wear_results.price_new %}
                            <p>Затраты:
                                {% if wear_results.price_color == "green" %}
                                    <span class="text-success"> Снижение на {{ wear_results.price_new }}%</span>
                                {% else %}
                                    <span class="text-danger"> Увеличение на {{ wear_results.price_new }}%</span>
                                {% endif %}
                            </p>
                        {% else %}
                            <p style="max-width: 400px">Для расчета изменения затрат необходимо указать стоимости каждого из материалов.</p>
                        {% endif %}

                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

