form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    white-space: nowrap;
    font-size: 0.8rem;
}

form .form-control-small {
    font-size: 0.75rem;
    min-height: calc(1em + 0.5rem + 2px);
    padding: 0.1rem 0.8rem;
    background-position: right 0.5rem center;
}

input {
    box-sizing: border-box;
}

form div {
    margin-bottom: 5px;
    width: 100%;
}

.btn-calc {
    margin: 15px auto;
    align-items: center;
}

.div2 {
    padding: 5px;
    width: 100%;
}

#plotty {
    min-width: 600px;
}

#plotty2 {
    width: 55%;
    min-width: 650px;
}

.error_variable {
    color: #f32c2c;
    text-align: center;
    border: #f32c2c 2px solid;
    border-radius: 8px;
}

summary {
    margin: 10px;
}

.form--strain_02 {
    white-space: normal;
    overflow-wrap: break-word;
    hyphens: manual;
}

td {
    padding: 3px;
}

tr td:first-child {
    width: 30%;
}

tr td:nth-child(2) {
    width: 10%;
    padding-left: 10px;
}

.text-results {
    display: flex;
    flex-flow: column wrap;
}

.table-result {
    width: 50%;
    min-width: 600px;
}

.chart2 {
    height: 400px;
}

.description {
    margin: 0 auto;
    padding: 10px 25px;
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.start-img, .description-spoiler {
    padding: 10px 25px;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
}

.btn-spoiler {
    margin-bottom: 10px;
}

.methodics, .results-plot2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

div .text {
    width: 70%;
}