body {
    margin: 0 auto;
}

/***** Wrapper *****/

.wrapper {
    display: block;
}

/***** Sidebar *****/

.sidebar {
    width: 265px;
    height: 91vh;
    position: fixed;
    top: 9vh;
    left: -271px;
    z-index: 999;
    background: #fff;
    transition: all .3s;
    box-shadow: 6px 0 30px rgb(51 51 51 / 50%);
    text-align: left;
}

.sidebar.active {
    left: 0;
}

.sidebar .logo {
    padding: 72px 20px 12px 20px;
    margin-top: 20px;
    border-bottom: 1px solid #444;
    transition: all .3s;
}

.sidebar .logo a {
    border: 0;
    color: #000000;
}

.sidebar ul.menu-elements {
    padding: 10px 0;
    border-bottom: 1px solid #444;
    transition: all .3s;
}

.sidebar ul li a {
    display: block;
    padding: 10px 20px;
    border: 0;
    color: #000000;
}

.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus {
    outline: 0;
    background: #ffffff;
    text-decoration: underline;
    color: #000000;
}

.sidebar ul li a i {
    margin-right: 5px;
}

.sidebar ul li.active > a,
a[aria-expanded="true"] {
    background: #b9b9b9;
    color: #000000;
}

.sidebar ul ul a {
    background: #444;
    padding-left: 30px;
    font-size: 14px;
}

.sidebar ul ul li.active > a {
    background: #555;
}

.sidebar a[data-toggle="collapse"] {
    position: relative;
}

.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/***** Dark overlay *****/

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(51, 51, 51, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 0.5;
}

/***** Content *****/

.content {
    padding-top: 92px;
    width: 100%;
    transition: all 0.3s;
}

/***** Open Menu *****/
.open-menu {
    width: 60px;
    height: 60px;
}

.dismiss {
    width: 60px;
    height: 60px;
    transition: all .3s;
    background: #f4f4f4;
    border-radius: 0;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    padding: 11px;
    display: none;
}

.header-bar-logo a img, .header-bar-menu a svg {
    width: 8.8rem;
}

.div1 h3, .div2 h3 {
    text-decoration: underline;
    align-items: center;
    align-self: center;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 0.5rem;
}

.parent {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    margin: 0.5rem 1.5rem;
}

div .div1 {
    border: 0.05rem solid rgba(0, 0, 0, .125);
    padding: 0.7rem;
    max-width: 20rem;
    min-width: 19rem;
    flex: 1 1 auto;
    margin-bottom: 0.7rem;
}

div .div-results {
    border: 0.05rem solid rgba(0, 0, 0, .125);
}

.parent .div-results {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    flex: 10 1 auto;
    margin: 0 0.5rem;
}

.content .header-bar {
    max-width: 1920px;
}

.header-bar-menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-right: 1px solid rgba(45, 45, 45, .1);
}

.header-bar-logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    margin-left: auto;
}

.header-bar-menu div, .header-bar-menu svg {
    font-size: .6875rem;
    line-height: .8125rem;
    color: #111;
    margin-right: 16px;
}

.header-bar-menu div a {
    color: black;
}

.wrapper .container .row div h1 {
    color: #002f6c;
}

.link-to-portal {
    display: flex;
    flex-flow: row nowrap;
    line-height: .8rem;
    font-size: .8rem;
    align-items: center;
    color: black;
}